* {
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 200px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  margin-bottom: 2rem;
}
.carousel-slide {
  width: 250px;
  height: 400px;
  background-color: #eee;
  border: 1px solid #333;
}
.carousel-slide:first-child {
  transform: perspective(800px) rotateY(45deg) scale(0.9);
  opacity: 0.5;
}

.carousel-slide:last-child {
  transform: perspective(800px) rotateY(-45deg) scale(0.9);
  opacity: 0.5;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.next {
  right: 10rem;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ccc;
}
.prev {
  left: 10rem;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ccc;
}

.search-container {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
